@model TaskViewModel

@{
       ViewData["Title"] = "Details";
}

<div>
<div class="card card-secondary">
<div class="card-header">
    <h3 class="card-title">Details</h3>
</div>
<div class="row">
    <div class="col-sm-12">
        <table id="example2" class="table table-bordered table-hover dataTable dtr-inline" aria-describedby="example2_info">
            <thead>
                <tr>
                    <th class="sorting sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Note</th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Due Date</th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Is Important</th>
            </thead>
            <tbody>
                    <tr class="odd">
                        <td class="dtr-control sorting_1" tabindex="0" style="width: 60%">@Model.Note</td>
                        <td class="dtr-control sorting_1" tabindex="0" style="width: 15%">@Model.DueDate.Value.ToShortDateString()</td>
                        <td class="dtr-control sorting_1" tabindex="1" style="width: 25%">
                            <div class="row">
                                 <i class=="@(@Model.IsImportant ? "fas fa-exclamation" : "col-2")"  style="padding: 1rem"></i>                               
                                 <form title="Reopen task" method="post" asp-action="ReopenTask" asp-route-Id="@Model.Id" asp-controller="DoneTasks">
                                    <span id="confirmDeleteSpan_@Model.Id" style="display:none">
                                        <span>Are you sure you want to reopen the task?</span>
                                        <button type="submit" class="btn btn-danger">Yes</button>
                                        <a href="#" class="btn btn-primary"
                                       onclick="confirmDelete('@Model.Id', false)">No</a>
                                    </span>

                                    <span id="deleteSpan_@Model.Id">
                                        <a href="#" class="btn btn-primary"
                                       onclick="confirmDelete('@Model.Id', true)">
                                   <i class="fas fa-folder-open"></i>
                                   </a>
                                    </span>
                                </form>
                            </div>
                        </td>

                    </tr>
                
            </tbody>
        </table> 
    </div>
</div>

</div>

</div>

@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}