@model TaskViewModel

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity

@inject IAuthorizationService authorizationService

@{
    ViewData["Title"] = "Details";
}

<div>
    <div class="card card-secondary">
        <div class="card-header">
            <h3 class="card-title">Details</h3>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table id="example2" class="table table-bordered table-hover dataTable dtr-inline" aria-describedby="example2_info">
                    <thead>
                        <tr>
                            <th class="sorting sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Note</th>
                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Due Date</th>
                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Is Important</th>
                    </thead>
                    <tbody>
                        <tr class="odd">
                            <td class="dtr-control sorting_1" tabindex="0" style="width: 60%">@Model.Note</td>
                            <td class="dtr-control sorting_1" tabindex="0" style="width: 15%">@Model.DueDate.Value.ToShortDateString()</td>
                            <td class="dtr-control sorting_1" tabindex="1" style="width: 25%">
                                <div class="row">
                                    <i class= ="@(@Model.IsImportant ? "fas fa-exclamation" : "col-2")" style="padding: 1rem"></i>
                                    <form method="post" asp-action="CompleteTask" asp-route-Id="@Model.Id" asp-controller="Task">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <button title="Complete task" type="submit" class="btn btn-primary" style="margin-inline: 0.3rem">
                                            <span>
                                                <i class="fas fa-check"></i>
                                            </span>
                                        </button>
                                    </form>
                                    <form method="get" asp-action="EditDate" asp-route-Id="@Model.Id" asp-controller="OverdueTasks">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <button title="Edit task" type="submit" class="btn btn-primary" style="margin-inline: 0.3rem">
                                            <span>
                                                <i class="fas fa-pen"></i>
                                            </span>
                                        </button>
                                    </form>
                                    <form title="Close task" method="post" asp-action="CloseTask" asp-route-Id="@Model.Id" asp-controller="OverdueTasks">
                                        <span id="confirmDeleteSpan_@Model.Id" style="display:none">
                                            <span>Are you sure you want to close the task, some of the data will be deleted permanently?</span>
                                            <button type="submit" class="btn btn-danger">Yes</button>
                                            <a href="#" class="btn btn-primary"
                                               onclick="confirmDelete('@Model.Id', false)">No</a>
                                        </span>

                                        <span id="deleteSpan_@Model.Id">
                                            <a href="#" class="btn btn-danger"
                                               onclick="confirmDelete('@Model.Id', true)">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </span>
                                    </form>
                                </div>
                            </td>

                        </tr>

                    </tbody>
                </table>
                @if ((await authorizationService.AuthorizeAsync(User, "StepsUserRolePolicy")).Succeeded)
                {
                    @if (@Model.Steps.Count > 0)
                    {                   
                        <div class="card">
                            <div class="card-header border-0">
                                <div class="d-flex justify-content-between">
                                    <div class="form-group col-4">
                                        <ul style="list-style-type:circle">
                                            @foreach (var step in @Model.Steps)
                                            {
                                                <li>@step.Title</li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                @if ((await authorizationService.AuthorizeAsync(User, "StatementsUserRolePolicy")).Succeeded)
                {
                    @if (@Model.Steps.Count > 0)
                    {
                        <div class="card">
                            <div class="card-header border-0">
                                <div class="d-flex justify-content-between">
                                    <div class="form-group col-9">
                                        <label class="control-label">If... Then statements</label>
                                        <ul style="list-style-type:circle">
                                            @foreach (var step in @Model.Statements)
                                            {
                                                <li><b>If: </b>@step.If -> <b>Then: </b>@step.Then</li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

    </div>

</div>

@section Scripts {
<script src="~/js/CustomScript.js"></script>
}